/* CSS Document */

nav ul{
	margin: 0;
	padding: 0;
}
nav ul li{
	list-style: none;
	float: left;
	display: block;
	width: auto;
	margin-right: 30px;
	margin-top: 6px;
	margin-bottom: auto;
	text-align: center;
	line-height: 43px;
	font-family: "Verdana";
	font-size: 17px;
}
nav ul li a{
	text-decoration: none;
	color: #62ff54;
}

nav ul li:hover a{
	color:#FFAB00;
}